################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProfileProjectMVC/FileContentIndex
/ProfileProjectMVC/.vs
/ProfileProjectMVC/ProfileProjectMVC/ProfileProjectMVC.csproj.user
/ProfileProjectMVC/ProfileProjectMVC/obj
